flows.json
[
    {
        "id": "fb1f6f70b4b00849",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "b1e78c2451a064ba",
        "type": "inject",
        "z": "fb1f6f70b4b00849",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 300,
        "y": 100,
        "wires": [
            []
        ]
    },
    {
        "id": "2a118883e7031928",
        "type": "debug",
        "z": "fb1f6f70b4b00849",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 560,
        "y": 440,
        "wires": []
    },
    {
        "id": "75a2fd19ee8f5f05",
        "type": "debug",
        "z": "fb1f6f70b4b00849",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 880,
        "y": 220,
        "wires": []
    },
    {
        "id": "6f24615c59b350dd",
        "type": "inject",
        "z": "fb1f6f70b4b00849",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 980,
        "y": 180,
        "wires": [
            []
        ]
    },
    {
        "id": "ce0afd2f82249f56",
        "type": "catch",
        "z": "fb1f6f70b4b00849",
        "name": "",
        "scope": null,
        "uncaught": false,
        "x": 360,
        "y": 280,
        "wires": [
            []
        ]
    },
    {
        "id": "804c96fe04a453c6",
        "type": "status",
        "z": "fb1f6f70b4b00849",
        "name": "",
        "scope": null,
        "x": 700,
        "y": 300,
        "wires": [
            []
        ]
    },
    {
        "id": "ceda69819b839e2e",
        "type": "complete",
        "z": "fb1f6f70b4b00849",
        "name": "",
        "scope": [],
        "uncaught": false,
        "x": 550,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "a78090ba6e7d856b",
        "type": "function",
        "z": "fb1f6f70b4b00849",
        "name": "function 1",
        "func": "\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 520,
        "y": 280,
        "wires": [
            []
        ]
    },
    {
        "id": "5a4decb9f3e53521",
        "type": "catch",
        "z": "fb1f6f70b4b00849",
        "name": "",
        "scope": null,
        "uncaught": false,
        "x": 380,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "7963841fd2de53ea",
        "type": "catch",
        "z": "fb1f6f70b4b00849",
        "name": "",
        "scope": null,
        "uncaught": false,
        "x": 220,
        "y": 180,
        "wires": [
            []
        ]
    },
    {
        "id": "26d6c27ff7026db3",
        "type": "catch",
        "z": "fb1f6f70b4b00849",
        "name": "",
        "scope": null,
        "uncaught": false,
        "x": 160,
        "y": 260,
        "wires": [
            []
        ]
    }
]